# your site url (used in the personalization call)
SITE_URL="https://mybusiness.com"

# your organization ID
IMS_ORG="CHANGEME"

# your technical account ID
IMS_TECHNICAL_ACCOUNT_ID="CHANGEME"

# your private key
IMS_PRIVATE_KEY="CHANGEME"

# your client ID
IMS_CLIENT_ID="CHANGEME"

# your client secret
IMS_CLIENT_SECRET="CHANGEME"

# datastream ID you're using
DATASTREAM_ID="CHANGEME"

# personalization activity ID - set this if you want Adobe Target personalized content
# PERSONALIZATION_ACTIVITY_ID=CHANGEME

# personalization page name
PERSONALIZATION_PAGE_NAME="CHANGEME"

# authentication scope (change this only if you know what you're doing :) )
IMS_META_SCOPE="ent_dataservices_sdk"

# use this to route traffic through a proxy like Charles
# PROXY_HOST="host.docker.internal"
# PROXY_PORT="8888"

# IMS host used for generating the access token
IMS_HOST="https://ims-na1.adobelogin.com"

# konductor host (this can also be proxied through charles)
KONDUCTOR_HOST="https://server.adobedc.net"

# server private key
SERVER_KEY="certs/server.key"

# server certificate
SERVER_CERT="certs/server.crt"

# server private key pass phrase
SERVER_KEY_PASSPHRASE="letmein"

SERVER_PORT=8080

# Griffon debug session ID
# GRIFFON_ID=
